#top #wrap_all .avia-slideshow .av-slideshow-caption.av-9d007-8192a73472ea882f47aeb90aee10a735__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-5w0mf-a81096448aaa8dfd751c6971f5c6b0f6{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-5c7nr-20c2de5bf02efeb5ac4be43d791eb221 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-5c7nr-20c2de5bf02efeb5ac4be43d791eb221 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-4cy4z-2320580548fdafb47dae7c9647c98bb3{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-3x12f-f3f9287f0a4aa6c58f8374c4a0314ca9{
padding-bottom:10px;
}
body .av-special-heading.av-3x12f-f3f9287f0a4aa6c58f8374c4a0314ca9 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3x12f-f3f9287f0a4aa6c58f8374c4a0314ca9 .av-subheading{
font-size:15px;
}

.flex_column.av-2qhqn-99183a38000451f7c9527093720ccf86{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.av-1cu8n-ffbdfce6717097e77f020051aa6b269e{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1cu8n-ffbdfce6717097e77f020051aa6b269e .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1cu8n-ffbdfce6717097e77f020051aa6b269e .av-seperator-icon{
color:#005cdd;
}
.hr.av-1cu8n-ffbdfce6717097e77f020051aa6b269e .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-rr23-9a2453ae67be4bce43abf767b64812d7{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-rr23-9a2453ae67be4bce43abf767b64812d7:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-rr23-9a2453ae67be4bce43abf767b64812d7 .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-rr23-9a2453ae67be4bce43abf767b64812d7:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

