#top #wrap_all .avia-slideshow .av-slideshow-caption.av-84ab7-2e2e47d9f7153f89d7c122fb84da3dce__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-4mefz-00c234c3f33b362f21f52da2de545b18{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-3xd7j-ea1e02726a421a5b406011d4af862223 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3xd7j-ea1e02726a421a5b406011d4af862223 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3jcvz-1928ca0f3ee8710d29d14bca09f641de{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-2hlh3-cf649d773e13cbecdb00dd892e8e6a5d{
padding-bottom:10px;
}
body .av-special-heading.av-2hlh3-cf649d773e13cbecdb00dd892e8e6a5d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2hlh3-cf649d773e13cbecdb00dd892e8e6a5d .av-subheading{
font-size:15px;
}

#top .hr.av-1nthf-095fd5ae2cff95b73e647a8e767f0798{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1nthf-095fd5ae2cff95b73e647a8e767f0798 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1nthf-095fd5ae2cff95b73e647a8e767f0798 .av-seperator-icon{
color:#005cdd;
}
.hr.av-1nthf-095fd5ae2cff95b73e647a8e767f0798 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-vugn-5e5797fe40ee0e37cc0dcf6201eba961{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-vugn-5e5797fe40ee0e37cc0dcf6201eba961:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-vugn-5e5797fe40ee0e37cc0dcf6201eba961 .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-vugn-5e5797fe40ee0e37cc0dcf6201eba961:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

