#top #wrap_all .avia-slideshow .av-slideshow-caption.av-65jmy-09477c002d5a8bd95aeeb16254aea9e6__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-48wq6-73157da6085674e3205da8af7f940170{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-3wws6-037df1e3372443cb9311c23753dae75c img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3wws6-037df1e3372443cb9311c23753dae75c .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3h4f2-152034819e93de01a3e2a520ba533b56{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-2r22i-96b6d0fc42539e95ca8e5ae22a16da04{
padding-bottom:20px;
}
body .av-special-heading.av-2r22i-96b6d0fc42539e95ca8e5ae22a16da04 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2r22i-96b6d0fc42539e95ca8e5ae22a16da04 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-z6dm-0148560761b069bb0785c50750669f65{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-z6dm-0148560761b069bb0785c50750669f65:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-z6dm-0148560761b069bb0785c50750669f65 .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-z6dm-0148560761b069bb0785c50750669f65:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

