#top #wrap_all .avia-slideshow .av-slideshow-caption.av-t3ob-9321fc45a88ecf8b24ce8e434017ff2e__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-57z73-719a98a3e77f709cd43a179de84192a6{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-4er43-2c3b018b47267ea1f76b14ae85934d5d img.avia_image{
box-shadow:none;
}
.avia-image-container.av-4er43-2c3b018b47267ea1f76b14ae85934d5d .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3w273-06a90162ab9b1d316b8be988fed5f683{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-3aekf-d56f8fd4e7202f244b1a1016386a3416{
padding-bottom:20px;
}
body .av-special-heading.av-3aekf-d56f8fd4e7202f244b1a1016386a3416 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3aekf-d56f8fd4e7202f244b1a1016386a3416 .av-subheading{
font-size:15px;
}

#top .hr.av-1f19b-140285031df171a516033c30c0887777{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1f19b-140285031df171a516033c30c0887777 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1f19b-140285031df171a516033c30c0887777 .av-seperator-icon{
color:#005cdd;
}
.hr.av-1f19b-140285031df171a516033c30c0887777 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-y2av-6bfea67b0ffead71f1d65503fa1cc800{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-y2av-6bfea67b0ffead71f1d65503fa1cc800:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-y2av-6bfea67b0ffead71f1d65503fa1cc800 .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-y2av-6bfea67b0ffead71f1d65503fa1cc800:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

