.flex_column.av-o44pk-410e3055815c406682d3d8d2435be756{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-ngq9s-8356b0e9fccac54190899cad7cadf05c{
padding-bottom:10px;
}
body .av-special-heading.av-ngq9s-8356b0e9fccac54190899cad7cadf05c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-ngq9s-8356b0e9fccac54190899cad7cadf05c .av-subheading{
font-size:15px;
}

.flex_column.av-mui48-e1a51cfed90d754372c9150a912400dd{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-ln3b4-f4ced8a07c5ae42757c3bad2ae9e2c2b{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.av-keves-08849f677550d145c9084562a453c950{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-keves-08849f677550d145c9084562a453c950 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-keves-08849f677550d145c9084562a453c950 .av-seperator-icon{
color:#005cdd;
}
.hr.av-keves-08849f677550d145c9084562a453c950 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

.avia-section.av-jst74-b09f36f817b99da8b4004e208375c11f{
background-color:#ededed;
background-image:unset;
}

#top .av-special-heading.av-j9l80-98c64026e4a5f20b12eda9956545b328{
padding-bottom:30px;
}
body .av-special-heading.av-j9l80-98c64026e4a5f20b12eda9956545b328 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-j9l80-98c64026e4a5f20b12eda9956545b328 .av-subheading{
font-size:15px;
}

#top .hr.av-1v1cw-5e165063c4f18bfe7c543cae8076c4d9{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1v1cw-5e165063c4f18bfe7c543cae8076c4d9 .hr-inner{
width:50px;
border-color:#757575;
}

.flex_column.av-hy9r0-caaf0f4ebe9f803da6a290a699f1f1d8{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-hs7go-377d77229db157cb5046b78aa41bdf08 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-hs7go-377d77229db157cb5046b78aa41bdf08 .av-caption-image-overlay-bg{
opacity:0.4;
background-color:#000000;
}
.avia-image-container.av-hs7go-377d77229db157cb5046b78aa41bdf08 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-gnvrk-9965ed1ec1b1a1ab0478c6778ca0cc1f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-fwc0s-bad21c1bb716bfa1f6dc9bfd0e7e51e7 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-fwc0s-bad21c1bb716bfa1f6dc9bfd0e7e51e7 .av-caption-image-overlay-bg{
opacity:0.4;
background-color:#000000;
}
.avia-image-container.av-fwc0s-bad21c1bb716bfa1f6dc9bfd0e7e51e7 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-enx3o-b5d94cee4d6bb30d54545ad347bf21a2{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-e5gr0-e8a2eb6707c55b986b1d1ee83531e6c4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-e5gr0-e8a2eb6707c55b986b1d1ee83531e6c4 .av-caption-image-overlay-bg{
opacity:0.4;
background-color:#000000;
}
.avia-image-container.av-e5gr0-e8a2eb6707c55b986b1d1ee83531e6c4 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-d1uo4-71b5209822852b9f67f039919841a0bc{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-cbb1c-e9774d44a5e97a6710b24d68f06416cb img.avia_image{
box-shadow:none;
}
.avia-image-container.av-cbb1c-e9774d44a5e97a6710b24d68f06416cb .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-bqiys-41fc17d766c4fad6d7c46d36ef05432b{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.av-aka4s-0232e2ac73aa7f620ae02efa65a8a95b{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-aka4s-0232e2ac73aa7f620ae02efa65a8a95b .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-aka4s-0232e2ac73aa7f620ae02efa65a8a95b .av-seperator-icon{
color:#005cdd;
}
.hr.av-aka4s-0232e2ac73aa7f620ae02efa65a8a95b .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

.avia-section.av-9zhwo-0d078cd2916f943a6f6ffd1d4bba1d9d{
background-color:#ededed;
background-image:unset;
}

#top .av-special-heading.av-94ly4-3f2c84d9070a2788d4102c3691aac9d7{
padding-bottom:30px;
}
body .av-special-heading.av-94ly4-3f2c84d9070a2788d4102c3691aac9d7 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-94ly4-3f2c84d9070a2788d4102c3691aac9d7 .av-subheading{
font-size:15px;
}

#top .hr.av-8vpks-094264dec213441a72f76ee270d0a036{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-8vpks-094264dec213441a72f76ee270d0a036 .hr-inner{
width:50px;
border-color:#757575;
}

.flex_column.av-7vtlo-5b23ac30b278de27d51a2bdbb2882c78{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-7gvvc-664225d070d03404abbaedf19d735066 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-7gvvc-664225d070d03404abbaedf19d735066 .av-caption-image-overlay-bg{
opacity:0.4;
background-color:#000000;
}
.avia-image-container.av-7gvvc-664225d070d03404abbaedf19d735066 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-6hpa4-cfe0e6d2d5115bb37e2abc3238059d31{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-5q0ag-1e629a5f9ee6e1939688349409a69df2 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-5q0ag-1e629a5f9ee6e1939688349409a69df2 .av-caption-image-overlay-bg{
opacity:0.4;
background-color:#000000;
}
.avia-image-container.av-5q0ag-1e629a5f9ee6e1939688349409a69df2 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-4lmfk-734d86a57f595faf0091504ce2e53dac{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-3slg4-fa0e52ef5577f7d817e57109d5e9ac96 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3slg4-fa0e52ef5577f7d817e57109d5e9ac96 .av-caption-image-overlay-bg{
opacity:0.4;
background-color:#000000;
}
.avia-image-container.av-3slg4-fa0e52ef5577f7d817e57109d5e9ac96 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-2tsfs-bce008b78d0124d9f5b7c3df96977891{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-1z9fw-954f4835919a22ffad22b2465391f90d img.avia_image{
box-shadow:none;
}
.avia-image-container.av-1z9fw-954f4835919a22ffad22b2465391f90d .av-caption-image-overlay-bg{
opacity:0.4;
background-color:#000000;
}
.avia-image-container.av-1z9fw-954f4835919a22ffad22b2465391f90d .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-yqbg-7845586bee20c4ede994b6c6c3c74a9e{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-yqbg-7845586bee20c4ede994b6c6c3c74a9e:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-yqbg-7845586bee20c4ede994b6c6c3c74a9e .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-yqbg-7845586bee20c4ede994b6c6c3c74a9e:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

