#top #wrap_all .avia-slideshow .av-slideshow-caption.av-8jyk5-fde5fc0712494542fd1a0e3f99d57f7d__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-5vonx-108e8494be934068d274ea14d6174a62{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-4wi5h-35e4e4a78cb243f3ec00fd88dac3c15a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-4wi5h-35e4e4a78cb243f3ec00fd88dac3c15a .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-4nzo5-4bbe57aaef06b224179dc8125f35d510{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-424mt-b9bbad0fc7e930605438972306ae4802{
padding-bottom:10px;
}
body .av-special-heading.av-424mt-b9bbad0fc7e930605438972306ae4802 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-424mt-b9bbad0fc7e930605438972306ae4802 .av-subheading{
font-size:15px;
}

.flex_column.av-2w2cx-9c8ed570b440254acd303fcb90936289{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.av-19pth-8836ba55cc335eb36aebfd3b20919000{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-19pth-8836ba55cc335eb36aebfd3b20919000 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-19pth-8836ba55cc335eb36aebfd3b20919000 .av-seperator-icon{
color:#005cdd;
}
.hr.av-19pth-8836ba55cc335eb36aebfd3b20919000 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-141kp-c0ab4a2a28a3087b7f11329829a8949d{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-141kp-c0ab4a2a28a3087b7f11329829a8949d:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-141kp-c0ab4a2a28a3087b7f11329829a8949d .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-141kp-c0ab4a2a28a3087b7f11329829a8949d:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

