#top #wrap_all .avia-slideshow .av-slideshow-caption.av-96k0m-ab00412091b9ae017ffa9d2910bebe76__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-7xike-c4a1c74de18ba4ba71092e2d76d8dc2c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-7i7eq-771379f2564cc711b3da39f641a886bf img.avia_image{
box-shadow:none;
}
.avia-image-container.av-7i7eq-771379f2564cc711b3da39f641a886bf .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-6sc8i-f309ab1704796745b69fd9a9c2ee10dc{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-64cku-6807d8e4381d5ea648713b4ac31942fd{
padding-bottom:20px;
}
body .av-special-heading.av-64cku-6807d8e4381d5ea648713b4ac31942fd .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-64cku-6807d8e4381d5ea648713b4ac31942fd .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-5p6we-5602c064f0762579f6a9a774273433c0 .avia_textblock{
color:#2b2b2b;
}

#top .av_textblock_section.av-4vqsi-12ecfb54cbfb094c842d2ef8d4dc6732 .avia_textblock{
color:#2b2b2b;
}

#top .hr.av-4e8e2-bb29fcf2900da3185038501be3d9dcd3{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-4e8e2-bb29fcf2900da3185038501be3d9dcd3 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-4e8e2-bb29fcf2900da3185038501be3d9dcd3 .av-seperator-icon{
color:#005cdd;
}
.hr.av-4e8e2-bb29fcf2900da3185038501be3d9dcd3 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

.avia-section.av-41sea-867c00c2536edb9dae6cac1b52f2e007{
background-color:#ededed;
background-image:unset;
}

.flex_column.av-3kb2q-484d2cae3ee7817ffaf399ddb723a843{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av_textblock_section.av-2s49e-82abce3f3bb28d2573127a203edaf1cf .avia_textblock{
color:#2b2b2b;
}

.flex_column.av-28lmy-9f4d77041807c7f22d42b9ab019d87a5{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av_textblock_section.av-1do4u-b0719e8c4040df75d7f9c78f094d81d5 .avia_textblock{
color:#2b2b2b;
}

#top #wrap_all .avia-button.av-10gqy-9730ca35da6d9aff7fbbfd44164c3a31{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-10gqy-9730ca35da6d9aff7fbbfd44164c3a31:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-10gqy-9730ca35da6d9aff7fbbfd44164c3a31 .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-10gqy-9730ca35da6d9aff7fbbfd44164c3a31:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

