.flex_column.av-5q2dn-0cc1d2f190106e51fdb06781491ca462{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-iiwv-93837f820a5cf7fa5b39d2d3623d57e5 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-iiwv-93837f820a5cf7fa5b39d2d3623d57e5 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-4aqgn-1e427eb4061cc333ce41505c4e99b8ba{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-3vt9r-19346d335f613f18d7a2eb6a6cb31561{
padding-bottom:10px;
}
body .av-special-heading.av-3vt9r-19346d335f613f18d7a2eb6a6cb31561 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3vt9r-19346d335f613f18d7a2eb6a6cb31561 .av-subheading{
font-size:15px;
}

.flex_column.av-2yugr-ac2ddeecbee7ad16e9373e4ab252288c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.av-1cunn-94d1bf9a7d73225c60d490ab671192b9{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1cunn-94d1bf9a7d73225c60d490ab671192b9 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1cunn-94d1bf9a7d73225c60d490ab671192b9 .av-seperator-icon{
color:#005cdd;
}
.hr.av-1cunn-94d1bf9a7d73225c60d490ab671192b9 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-12kqz-8add5c38970778011a6619a69342be8a{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-12kqz-8add5c38970778011a6619a69342be8a:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-12kqz-8add5c38970778011a6619a69342be8a .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-12kqz-8add5c38970778011a6619a69342be8a:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

