#top #wrap_all .avia-slideshow .av-slideshow-caption.av-8oflf-06441816fa467e9272a8b156c19ee2cd__0 .avia-caption-title{
font-size:49px;
}

.flex_column.av-5on47-ecc9941de0699c150e3360fd7d618aa0{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-4vm1z-8df23a5eb3713578f7eecbb079fe2229 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-4vm1z-8df23a5eb3713578f7eecbb079fe2229 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-4aqwb-7e416218ab6ffcf42d29d45071f0cf48{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-44gyz-da3c4f3dcdb3906e74f9ba0b9e250937{
padding-bottom:10px;
}
body .av-special-heading.av-44gyz-da3c4f3dcdb3906e74f9ba0b9e250937 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-44gyz-da3c4f3dcdb3906e74f9ba0b9e250937 .av-subheading{
font-size:15px;
}

.flex_column.av-2tctv-e6f0bbd3cfc899f0434e5c9693f2a428{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.av-1emzb-b0aabbe6aec9b56c38fec8178031a5e2{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1emzb-b0aabbe6aec9b56c38fec8178031a5e2 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1emzb-b0aabbe6aec9b56c38fec8178031a5e2 .av-seperator-icon{
color:#005cdd;
}
.hr.av-1emzb-b0aabbe6aec9b56c38fec8178031a5e2 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-u4v3-302fb68bdec774322f3ac11e15b89e6b{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-u4v3-302fb68bdec774322f3ac11e15b89e6b:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-u4v3-302fb68bdec774322f3ac11e15b89e6b .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-u4v3-302fb68bdec774322f3ac11e15b89e6b:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

