#top #wrap_all .avia-slideshow .av-slideshow-caption.av-9ceig-627ec3a59fdf362bb7710a4a6bf48d55__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-89tp8-18ec924dda57fbaf2fb35b511c0127a1{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-7ontg-5450c9fbdacf29315eb22264f1eac1f3 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-7ontg-5450c9fbdacf29315eb22264f1eac1f3 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-70yqc-cc5206cc78c13f5865266e2d139f1c92{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-666jw-2e8c1ae493e45297119792536dd8b9b2{
padding-bottom:10px;
}
body .av-special-heading.av-666jw-2e8c1ae493e45297119792536dd8b9b2 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-666jw-2e8c1ae493e45297119792536dd8b9b2 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-jtg0-fb86852e710e4be705ba2bf921b5d990 .avia_textblock{
color:#1c1c1c;
}

#top .hr.hr-invisible.av-58xvc-79cc76c0840d8d9334e536c577fdad5c{
height:50px;
}

#top .av_textblock_section.av-4pszc-8c5eaa4f8d5ebff4b36111ced1473334 .avia_textblock{
color:#1c1c1c;
}

#top .av_textblock_section.av-3udt4-e0effb00c8be3979548c23291cf965d1 .avia_textblock{
color:#1c1c1c;
}

#top .hr.hr-invisible.av-36t9w-28e263d1a2fa9b0bad518b6285ff08d2{
height:50px;
}

.flex_column.av-a6oo-4dd7bc5650f41087258063bc508358d5{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av_textblock_section.av-2desc-6511cb1616c61ccb9c7eae0f8d009ec4 .avia_textblock{
color:#1c1c1c;
}

#top .hr.av-1bnok-7a21455d39e05413da823ec9f619d9c6{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1bnok-7a21455d39e05413da823ec9f619d9c6 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1bnok-7a21455d39e05413da823ec9f619d9c6 .av-seperator-icon{
color:#005cdd;
}
.hr.av-1bnok-7a21455d39e05413da823ec9f619d9c6 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-pgzs-45a250ff01174cbe1b85a2cd51fe4d14{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-pgzs-45a250ff01174cbe1b85a2cd51fe4d14:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-pgzs-45a250ff01174cbe1b85a2cd51fe4d14 .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-pgzs-45a250ff01174cbe1b85a2cd51fe4d14:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

