#top #wrap_all .avia-slideshow .av-slideshow-caption.av-7us8h-a36e802b6926daeebfb84c02c578d88d__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-5b0zt-4fceae3ac26c7a205f2ed3200838ca56{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-4ifd5-0d4682bc16f0fe361600cc597eda6434 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-4ifd5-0d4682bc16f0fe361600cc597eda6434 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3tda5-d5a101fe832d3a29d04269456ba22af7{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-37vz9-5822c313c1fe4dcca5ac3c0635f620a9{
padding-bottom:10px;
}
body .av-special-heading.av-37vz9-5822c313c1fe4dcca5ac3c0635f620a9 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-37vz9-5822c313c1fe4dcca5ac3c0635f620a9 .av-subheading{
font-size:15px;
}

#top .hr.av-1qrh9-331a15361f612be9e07b8c1e8b7dc029{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1qrh9-331a15361f612be9e07b8c1e8b7dc029 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1qrh9-331a15361f612be9e07b8c1e8b7dc029 .av-seperator-icon{
color:#005cdd;
}
.hr.av-1qrh9-331a15361f612be9e07b8c1e8b7dc029 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-ypdd-7e64805360029aa560de1c645b877c35{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-ypdd-7e64805360029aa560de1c645b877c35:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-ypdd-7e64805360029aa560de1c645b877c35 .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-ypdd-7e64805360029aa560de1c645b877c35:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

