#top #wrap_all .avia-slideshow .av-slideshow-caption.av-7o85d-e92c8989753b48f3bc906e58a18e2881__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-4gtwl-13acfd0c6f02d394e0b915fd63f757ca{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-3p82t-7a9ee61f07afad7e0323f6fed1bdbac9 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3p82t-7a9ee61f07afad7e0323f6fed1bdbac9 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3bta9-4d30ca729ce6f4b5a2a1f090bef2e1aa{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-2i7jl-6bd506fb12582117987b5803fda03ab9{
padding-bottom:10px;
}
body .av-special-heading.av-2i7jl-6bd506fb12582117987b5803fda03ab9 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2i7jl-6bd506fb12582117987b5803fda03ab9 .av-subheading{
font-size:15px;
}

#top .hr.av-1pmj5-7bf9d8f3b8520d887e06898dc6291a4c{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1pmj5-7bf9d8f3b8520d887e06898dc6291a4c .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1pmj5-7bf9d8f3b8520d887e06898dc6291a4c .av-seperator-icon{
color:#005cdd;
}
.hr.av-1pmj5-7bf9d8f3b8520d887e06898dc6291a4c .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-127mp-72b2250bffbe4ce1d4cc3701ef1bd17d{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-127mp-72b2250bffbe4ce1d4cc3701ef1bd17d:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-127mp-72b2250bffbe4ce1d4cc3701ef1bd17d .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-127mp-72b2250bffbe4ce1d4cc3701ef1bd17d:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

