#top #wrap_all .avia-slideshow .av-slideshow-caption.av-67r44-0534ee18c5c720157ee09df0def8063e__0 .avia-caption-title{
font-size:48px;
}

.flex_column.av-ic1w-a0f3dc5ae7ddafe7f4bf0fdcb203b7a1{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-4eozg-6068fbe0266f25ecd00584a209bc4a11 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-4eozg-6068fbe0266f25ecd00584a209bc4a11 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-3mxlo-6274c6b8e826d5c5b47ca7ede1884e0b{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-35ga4-6f863c2e408e0e091b437750d28855fe{
padding-bottom:20px;
}
body .av-special-heading.av-35ga4-6f863c2e408e0e091b437750d28855fe .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-35ga4-6f863c2e408e0e091b437750d28855fe .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-25xqc-75534da8f4ad0d511a5b52992223bfcd .avia_textblock{
color:#3d3d3d;
}

#top .hr.av-1fsao-386c19504b302dc087d4bbf85cc19269{
margin-top:30px;
margin-bottom:30px;
}
.hr.av-1fsao-386c19504b302dc087d4bbf85cc19269 .hr-inner{
width:50px;
border-color:#757575;
max-width:45%;
}
.hr.av-1fsao-386c19504b302dc087d4bbf85cc19269 .av-seperator-icon{
color:#005cdd;
}
.hr.av-1fsao-386c19504b302dc087d4bbf85cc19269 .av-seperator-icon.avia-svg-icon svg:first-child{
fill:#005cdd;
stroke:#005cdd;
}

#top #wrap_all .avia-button.av-shy4-a6b710d9bd84253388d8041e35e14b04{
background-color:#109bc5;
border-color:#109bc5;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-shy4-a6b710d9bd84253388d8041e35e14b04:hover{
background-color:grey;
color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-shy4-a6b710d9bd84253388d8041e35e14b04 .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}
#top #wrap_all .avia-button.av-shy4-a6b710d9bd84253388d8041e35e14b04:hover .avia-svg-icon svg:first-child{
fill:#ffffff;
stroke:#ffffff;
}

