.flex_column.av-2r1os-acef66235cfd419eec7df7f1f866ce4c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-20p5k-9c4a4638d322dc293f3dd860a839d774{
padding-bottom:40px;
}
body .av-special-heading.av-20p5k-9c4a4638d322dc293f3dd860a839d774 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-20p5k-9c4a4638d322dc293f3dd860a839d774 .av-subheading{
font-size:15px;
}

.flex_column.av-1qr4o-f0b07db8f62fcb3eaa2957bacd19032d{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

