.flex_column.av-7hd0i-4474b190603ee9157c1ce58b3cbf5daf{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-6pdaq-b8861f768d6569f64f9e8ce04aeefe44{
padding-bottom:10px;
}
body .av-special-heading.av-6pdaq-b8861f768d6569f64f9e8ce04aeefe44 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-6pdaq-b8861f768d6569f64f9e8ce04aeefe44 .av-subheading{
font-size:15px;
}

.flex_column.av-68056-36cfd182143c42cafbb81cda37ad5ef0{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av_font_icon.av-53y62-586e71dd4bd687e20853d8ff2cc05ba3 .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-4nd96-1acb63a237af4a445161c68e87dbdba8 .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-2i70i-74876ad207676a8b76e99b106403350a .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-243om-e9bc95914155758eb8825ec3eeb6edd5 .av-icon-char{
font-size:15px;
line-height:15px;
}

