.avia-section.av-b4ohi-8be208588388b2ab7899d989bd6e0749{
background-color:#ffffff;
background-image:unset;
}

#top .av-special-heading.av-amzwu-41e0cf219523d6ae777709ba5633adb9{
padding-bottom:40px;
color:#ffffff;
}
body .av-special-heading.av-amzwu-41e0cf219523d6ae777709ba5633adb9 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-amzwu-41e0cf219523d6ae777709ba5633adb9 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-amzwu-41e0cf219523d6ae777709ba5633adb9 .av-subheading{
font-size:15px;
}

.flex_column.av-9753a-45a6022653b0a302eccd29f7d0c5076f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av_font_icon.av-78vgm-25e8020a83d563f4f3583c261ef30a01 .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-6s802-20b2a941fb9789073edac688c350f069 .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-5io16-e6f09dbbeff9c2bb3c2e2adc429869a8 .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-51koe-6d421b52c6ec81713ef960e07625fe4c .av-icon-char{
font-size:15px;
line-height:15px;
}

.flex_column.av-40w5i-6696a6561a6fa665871e027ff8e5afba{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av_font_icon.av-2qv1y-b562811569ae9c9ffbb7239bd38af3da .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-1yp0e-00ab9cd4755f3f34db23ff8f60663445 .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-1ctie-179d26961f59d20311233723b2946b91 .av-icon-char{
font-size:15px;
line-height:15px;
}

.av_font_icon.av-13h0i-591975f065a61020182a792e40acd692 .av-icon-char{
font-size:15px;
line-height:15px;
}

